<footer id="footer-main">
  <div id="footer">
    <ul class="footer-list">
      <%= link_to about_posts_path, class:'site-link' do %>
        <li class="information">このサイトについて</li>
      <% end %>
      <%= link_to usage_posts_path, class:'site-link' do %>
        <li class="information">使い方</li>
      <% end %>
      <%= link_to notification_posts_path, class:'site-link' do %>
        <li class="information">お知らせ</li>
      <% end %>
    </ul>
    <div class="footer-copyright">
      <a>Copyright（C） 2019　kohei sugawara All Rights Reserved.</a>
    </div>
  </div>
</footer>