<footer class='footer-main'>
  <div class='footer-list'>
    <%= link_to tab_posts_path, class:'footer-list__link' do %>
      <div class='footer-list__information'>このサイトについて</div>
    <% end %>
    <%= link_to root_path, class:'footer-list__link' do %>
      <div class='footer-list__information'>ホームへ戻る</div>
    <% end %>
  </div>
  <div class='footer-main__copyright'>
    <a>Copyright（C） 2019　kohei sugawara All Rights Reserved.</a>
  </div>
</footer>