<footer id="footer-main">
  <div id="footer">
    <ul class="footer-list">
      <li class="information">このサイトについて</li>
      <li class="information">使い方</li>
      <li class="information">お知らせ</li>
    </ul>
    <div class="footer-copyright">
      <a>Copyright（C） 2019　kohei sugawara All Rights Reserved.</a>
    </div>
  </div>
</footer>