<footer class="sp-footer-main">
  <%= link_to usage_posts_path, class:'sp-footer-main__link' do %>
    <div class="sp-footer-main__link__information">使い方</div>
  <% end %>
  <%= link_to notification_posts_path, class:'sp-footer-main__link' do %>
    <div class="sp-footer-main__link__information">お知らせ</div>
  <% end %>
  <%= link_to about_posts_path, class:'sp-footer-main__link' do %>
    <div class="sp-footer-main__link__information">このサイトについて</div>
  <% end %>
  <div class="sp-footer-main__copyright">
    <a>Copyright（C） 2019　kohei sugawara All Rights Reserved.</a>
  </div>
</footer>