<%= render 'layouts/shared/sp-header' %>
<div class='sp-main'>
  <%= render 'comments/shared/sp-post-comment' %>
  <div class='sp-detail'>
    <%= render 'comments/shared/sp-comment-list' %>
  </div>
</div>
<%= render 'layouts/shared/sp-banner' %>