<div class='middle-container'>
  <div class='list-container'>
    <div class='list-container__title'>ユーザー一覧</div>
  </div>
  <div class='list-box'>
    <% @users.each do |user| %>
      <%= link_to "users/#{ user.id }" do %>
        <div class='post-box'>
          <%= lists_user_image(user) %>
          <div class='post-box__description'>
            <label><%= user.nickname %>さん</label><br/>
            <div class='post-box__description__profile'>
              <%= user.profile %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>