<div class="middle-container">
  <div class="post-title-container">
    <h2 class="list-title">ユーザー一覧</h2>
  </div>
  <div class="latest-posts">
    <% @users.each do |user| %>
      <%= link_to "users/#{ user.id }" do %>
        <div class="post-box">
          <% if user.image.present? %>
            <%= image_tag user.image.url, class:"user-face" %>
          <% else %>
            <img class="user-face" src="https://static.mercdn.net/images/member_photo_noimage_thumb.png">
          <% end %>
          <div class="post-yama-description">
            <label><%= user.nickname %>さん</label>
            <div class="post-latest-comment"><%= user.profile %></div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>