<h2 class='about'>2019.11.25</h2>
<div class='about-page'>
  <div class='about-page__box'>
    山メシの編集機能を追加
  </div>
</div>
<h2 class='about'>2019.11.09</h2>
<div class='about-page'>
  <div class='about-page__box'>
    新規コメント投稿をajax化(PC版)
  </div>
</div>
<h2 class='about'>2019.11.05</h2>
<div class='about-page'>
  <div class='about-page__box'>
    画面600px以下の時マイページボタンが出現しリンクを踏むとマイページへ遷移できるように指定
  </div>
</div>
<h2 class='about'>2019.11.04</h2>
<div class='about-page'>
  <div class='about-page__box'>
    サイトヘルプ/ガイドページの改修
  </div>
</div>
<h2 class='about'>2019.10.30</h2>
<div class='about-page'>
  <div class='about-page__box'>
    コメント機能をスマホサイズでも利用できるように修正<br/>
    コメントの編集・削除機能を追加
  </div>
</div>
<h2 class='about'>2019.10.29</h2>
<div class='about-page'>
  <div class='about-page__box'>
    サインアップページをレスポンシブ化<br/>
    サインインページをレスポンシブ化<br/>
    ユーザー一覧ページをレスポンシブ化<br/>
    ユーザー詳細ページをレスポンシブ化
  </div>
</div>
<h2 class='about'>2019.10.26</h2>
<div class='about-page'>
  <div class='about-page__box'>
    投稿詳細ページをレスポンシブ化
  </div>
</div>
<h2 class='about'>2019.10.24</h2>
<div class='about-page'>
  <div class='about-page__box'>
    ランキングページをレスポンシブ化
  </div>
</div>
<h2 class='about'>2019.10.23</h2>
<div class='about-page'>
  <div class='about-page__box'>
    検索ページをレスポンシブ化<br/>
    投稿一覧ページをレスポンシブ化
  </div>
</div>
<h2 class='about'>2019.10.22</h2>
<div class='about-page'>
  <div class='about-page__box'>
    トップページをレスポンシブ化
  </div>
</div>
<h2 class='about'>2019.10.19</h2>
<div class='about-page'>
  <div class='about-page__box'>
    フォロー/フォロワー 一覧機能の実装
  </div>
</div>
<h2 class='about'>2019.10.18</h2>
<div class='about-page'>
  <div class='about-page__box'>
    投稿機能内で全角英数字が登録できないように修正<br/>
    emailは大文字英数字から小文字へ変換しDB保存するように設定
  </div>
</div>
<h2 class='about'>2019.10.17</h2>
<div class='about-page'>
  <div class='about-page__box'>
    Nginxアップロードの上限値を10Mに変更
  </div>
</div>
<h2 class='about'>2019.10.12</h2>
<div class='about-page'>
  <div class='about-page__box'>
    Capistranoを設定し自動デプロイ化<br/>
    画像をAWS S3に保存できるように設定
  </div>
</div>
<h2 class='about'>2019.10.11</h2>
<div class='about-page'>
  <div class='about-page__box'>
    AWSインスタンス作成<br/>
    Unicorn_rails,Nginx,MySQLを設定しデプロイ
  </div>
</div>
<h2 class='about'>2019.10.10</h2>
<div class='about-page'>
  <div class='about-page__box'>
    READMEの作成
  </div>
</div>
<h2 class='about'>2019.10.09</h2>
<div class='about-page'>
  <div class='about-page__box'>
    seedデータの作成<br/>
    ランキング機能の実装<br/>
    ユーザーアバター登録を実装<br/>
    nested modelを用いた投稿フォームを実装
  </div>
</div>
<h2 class='about'>2019.10.08</h2>
<div class='about-page'>
  <div class='about-page__box'>
    ユーザープロフィール欄の実装<br/>
    ユーザー詳細ページの実装<br/>
    gem 'kaminari'を用いたページネーションの実装<br/>
    フォロー機能の実装②
  </div>
</div>
<h2 class='about'>2019.10.07</h2>
<div class='about-page'>
  <div class='about-page__box'>
    gem 'ransack'を用いた検索機能の実装<br/>
    フォロー機能の実装①<br/>
    投稿詳細ページにユーザーのアバター表示実装
  </div>
</div>
<h2 class='about'>2019.10.06</h2>
<div class='about-page'>
  <div class='about-page__box'>
    いいね機能の実装②
  </div>
</div>
<h2 class='about'>2019.10.04</h2>
<div class='about-page'>
  <div class='about-page__box'>
    コメント投稿機能の実装<br/>
    いいね機能の実装①
  </div>
</div>
<h2 class='about'>2019.10.03</h2>
<div class='about-page'>
  <div class='about-page__box'>
    マイページボックスのマークアップ<br/>
    投稿の編集機能の実装<br/>
    ログイン時のバリデーション設定<br/>
    ユーザー削除・編集機能の実装
  </div>
</div>
<h2 class='about'>2019.10.02</h2>
<div class='about-page'>
  <div class='about-page__box'>
    gem 'devise'用いたサインアップ・ログイン機能<br/>
    サインアップ・ログイン画面のマークアップ<br/>
    ログインユーザーの投稿一覧を表示<br/>
    全ユーザーの投稿一覧を表示<br/>
    投稿削除機能の実装<br/>
    JavaScriptを使い画像のプレビュー表示イベント実装<br/>
  </div>
</div>
<h2 class='about'>2019.10.01</h2>
<div class='about-page'>
  <div class='about-page__box'>
    投稿詳細ページのマークアップ<br/>
    投稿完了時のflash実装
  </div>
</div>
<h2 class='about'>2019.09.30</h2>
<div class='about-page'>
  <div class='about-page__box'>
    トップページのマークアップ<br/>
    新規投稿機能の実装
  </div>
</div>