<div class="trekking-registration">
  <h2 class="title">山の情報を登録する</h2>
  <div class="yama-info-input">
    <label>山の名前</label>
    <input type="text" class="yama-input-box" placeholder="山の名前を入力">
  </div>
  <div class="yama-info-input">
    <label>山頂標高</label>
    <input type="text" class="yama-input-box" placeholder="山頂標高を入力">
  </div>
  <div class="yama-info-input">
    <label>歩行距離</label>
    <input type="text" class="yama-input-box" placeholder="歩行距離を入力">
  </div>
  <div class="yama-info-input">
    <label>写真</label>
    <input type="text" class="yama-input-box" placeholder="写真を貼り付け">
  </div>
  <div class="yama-info-select">
    <label>難易度</label>
    <select class="yama-input-select-box">
      <option value="">難易度:上級</option>
      <option value="">難易度:中級</option>
      <option value="">難易度:初級</option>
    </select>
  </div>
  <div class="yama-registration-btn">
    <input type="submit" class="search-btn" value="登録">
  </div>
</div>