.detail-comment {
  width: 450px;
  height: auto;
  margin: 10px auto;
  background: #f5f3f4;
  border: 1px solid #f5f3f4;
  border-radius: 3px;
  padding: 10px;
  word-break : break-all;
  &__box {
    overflow-y: scroll;
    height: 300px;
  }
  .comment-user {
    padding: 5px;
    margin: 10px 0 0 0;
    display: flex;
    &__comment-picture {
      float: left;
      width: 50px;
      height: auto;
      min-height: 50px;
      max-height: 50px;
      border-radius: 50%;
    }
    &__name {
      padding: 5px;
      margin: 10px;
      .comment-edit-path {
        border: 1px solid white;
        border-radius: 3px;
        background: white;
        padding: 3px 5px;
        text-decoration: none;
        color: black;
        margin: 0 30px 0 110px;
      }
      .comment-delete-path {
        border: 1px solid red;
        border-radius: 3px;
        background: white;
        padding: 3px 5px;
        text-decoration: none;
        color: black;
      }
      .comment-edit-path:hover, .comment-delete-path:hover {
        opacity: 0.7;
      }
    }
  }
  .comment-text-area {
    background: white;
    padding: 5px;
  }
}
.comment-title {
  font-size: 24px;
  text-align: center;
  padding: 5px;
}
.comment-link-path {
  text-decoration: none;
  color: black;
}
.comment-link-path:hover {
  opacity: 0.7;
}
.detail-btn {
  text-align: center;
  margin-top: 40px;
  height: 80px;
  &__gray {
    font-size: 24px;
    color: black;
    background: #f5f3f4;
    border: none;
    border-radius: 3px;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
  }
}
.sp-new-comment-box {
  text-align: center;
  &__form {
    width: 300px;
    margin: 10px 0;
    border: 1px solid gray;
    border-radius: 3px;
  }
  &__btn {
    background: white;
    border: 1px solid gray;
    border-radius: 3px;
  }
}