/* topページフォロー表示部分 */
.follow-box {
  text-align: center;
  &__link {
  text-decoration: none;
  margin-left: 5px;
  color: black;
  }
  &__link:hover {
    opacity: 0.7;
  }
  &__follower {
    display: inline;
    font-size: 18px;
    font-weight: bold;
  }
}
/* users#showページのフォロー表示部分 */
.user-follow-box {
  padding-top: 10px;
  .following-btn, .followed-btn {
    width: 150px;
    height: 30px;
    background: white;
    color: #2AD1FF;
    border: solid 1px #2AD1FF;
    border-radius: 25px;
    padding: 3px;
    margin-top: 10px;
  }
  .followed-btn {
    background: #2AD1FF;
    color: white;
  }
  .detail-nickname {
    font-size: 32px;
  }
}
/* users#followers/users#followingページ表示部分 */
.follow-list {
  width: 800px;
  margin: 0 auto;
  background: white;
  &__container {
    width: 100%;
  }
  &__title {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
  }
  &__paginate {
    text-align: center;
    a {
    text-decoration: none;
    color: black;
    padding: 0 5px;
    }
    a:hover {
      opacity: 0.7;
    }
  }
  &__btn {
    margin-top: 40px;
    height: 80px;
    text-align: center;
    &__gray {
      font-size: 24px;
      color: black;
      background: #f5f3f4;
      border: none;
      border-radius: 3px;
      margin: 10px;
      padding: 10px;
      text-decoration: none;
    }
  }
  .follow-user {
    width: 350px;
    height: 120px;
    margin: 10px auto;
    border: solid 1px #f5f3f4;
    border-radius: 3px;
    position: relative;
    &__link {
      text-decoration: none;
      color: black;
    }
    &__link:hover {
      opacity: 0.7;
    }
    &__picture {
      width: 100px;
      height: 100px;
      border-radius: 3px;
      position: absolute;
      left: 40px;
      top: 7%;
    }
    &__nickname {
      position: absolute;
      right: 40px;
      top: 40%;
    }
  }
}