.like-link {
  display: inline;
}
.like-button {
  text-decoration: none;
  color: black;
}
.detail-like {
  display: inline;
  .fas.fa-heart {
    color: pink;
  }
  .far.fa-heart {
    color: #eee;
  }
}