/* indexページ非ログインユーザー表示部分 */
.before-login-title {
  font-size: 28px;
  text-align: center;
  color: black;
  font-weight: bold;
  padding: 20px;
}
.before-login-box {
  margin: 0 auto;
  width: 480px;
  height: 225px;
  background: white;
  margin-bottom: 20px;
  &__text {
    font-size: 16px;
    text-align: center;
    line-height: 225px;
  }
}
/* indexページ _post-lists/_user-lists/_mypage-box表示部分 */
.large-container {
  display: flex;
  .middle-container {
    width: 100%;
    margin-left: 10px;
    .list-container {
      width: 100%;
      display: flex;
      &__user-name {
        font-size: 20px;
        text-align: center;
        color: black;
        font-weight: bold;
        padding: 20px;
      }
      &__btn {
        margin-top: 25px;
        &__path {
          text-decoration: none;
          color: black;
          background: #f5f3f4;
          margin: 0 5px 0 5px;
          padding: 5px;
          border: solid 1px white;
          border-radius: 3px;
        }
        &__path:hover {
          opacity: 0.7;
        }
      }
      &__title {
        font-size: 20px;
        text-align: center;
        color: black;
        font-weight: bold;
        padding: 20px;
      }
      &__icon {
        margin-top: 20px;
        border: 1px solid red;
        background: red;
        width: 50px;
        height: 25px;
        text-align: center;
        color: white;
        border-radius: 4px;
        p {
          font-size: 18px;
        }
      }
    }
    .list-box {
      width:100%;
      height:300px;
      background-color: white;
      overflow-y: scroll;
      border: 1px solid #f5f3f4;
      margin: 0 10px;
      a {
        text-decoration: none;
        color: black;
      }
      .post-box:hover {
        opacity: 0.7;
      }
      .post-box {
        display: flex;
        &__picture {
          width: 80px;
          height: auto;
          margin: 10px 10px 10px 10px;
          border-radius: 3px;
        }
        &__description {
          width: 100%;
          margin: 10px;
          border: 1px solid #f5f3f4;
          padding: 5px;
          label {
            font-size: 18px;
          }
          &__comment {
            width: 230px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
        .user-face {
          border-radius: 50%;
          width: 45px;
          height: auto;
          margin: 15px;
        }
      }
    }
  }
}
/* indexページ横スクロール3段の表示部分 */
.horizontal-list {
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.item-box:hover {
  opacity: 0.7;
}
.item-box {
  /* 横スクロール用 */
  display: inline-block;
  width: 480px;
  /* 見た目調整 */
  height: 225px;
  margin: 16px;
  font-size: 48px;
  background: white;
  border: 1px solid #f5f3f4;
  .box-left {
    display: flex;
    position: relative;
    &__picture {
      width: 200px;
      height: 200px;
      margin: 10px;
      border-radius: 3px;
    }
    .item-description {
      margin: 10px;
      color: black;
      position: relative;
      &__name {
        color: black;
        font-size: 20px;
      }
      &__comment {
        width: 230px;
        height: 40px;
        background: #fff;
        border: 1px solid #f5f3f4;
        color: black;
        border-radius: 3px;
        padding: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      &__ranking {
        font-size: 32px;
      }
      &__profile {
        padding: 10px 0;
      }
    }
    .like {
      position: absolute;
      right: 5px;
      top: 5%;
      .fas.fa-heart {
        color: pink;
      }
    }
    .ranking-user-image {
      position: absolute;
      right: 10px;
      top: 5%;
      border-radius: 50%;
      width: 40px;
      height: auto;
      max-height: 40px;
    }
    .ranking-like-count {
      position: absolute;
      right: 55px;
      top: 8%;
      .fas.fa-heart {
        color: pink;
      }
      span {
        color: black;
      }
    }
  }
}

