/* posts/new/editページ */
/* devise/registration/new/editページ */
/* devise/session/newページ */

.new-post-box {
  width: 800px;
  height: auto;
  margin: 0 auto;
  background: white;
  &__container {
    width: 100%;
    text-align: center;
    &__name {
      font-size: 32px;
      font-weight: bold;
      padding: 32px 16px;
      border-bottom: solid 1px #f5f3f4;
      border-top: solid 1px #f5f3f4;
    }
  }
  &__btn {
    width: 300px;
    height: 50px;
    background: #ccc;
    margin: 20px 0;
    border: solid 1px #ccc;
    border-radius: 3px;
    font-size: 24px;
    color: white;
  }
  .form-registration-box {
    width: 100%;
    height: auto;
    text-align: center;
    &__name {
      font-size: 24px;
      font-weight: bold;
    }
    &__require {
      font-size: 16px;
      width: 50px;
      height: 25px;
      background: red;
      color: white;
      border-radius: 3px;
      padding: 2px;
      margin-left: 5px;
    }
    &__any-require {
      font-size: 16px;
      width: 50px;
      height: 25px;
      background: #ccc;
      color: white;
      border-radius: 3px;
      padding: 2px;
      margin-left: 5px;
    }
  }
  .new-part-form {
    width: 300px;
    height: 50px;
    margin: 20px 10px;
    font-size: 18px;
    padding-left: 5px;
    border: solid 1px #ccc;
    border-radius: 3px;
  }
  .select-form-box {
    position: relative;
    margin: 0 auto;
    #post_difficulty {
      width: 300px;
      height: 50px;
      background: white;
      margin: 20px 10px;
      font-size: 18px;
      padding-left: 5px;
      border: solid 1px #ccc;
      border-radius: 3px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
    .fa.fa-chevron-down {
      position: absolute;
      right: 260px;
      top: 40%;
    }
  }
  #textarea, #textarea2, #textarea3 {
    width: 280px;
    max-height: 200px;
    margin: 20px 10px;
    padding: 8px;
    line-height: 20px;
    border: solid 1px #ccc;
    border-radius: 3px;
  }
  .photo-form, .photo-form2 {
    margin: 0 240px;
    .form-mask {
      width: 300px;
      height: 65px;
      background: white;
      margin: 20px 10px;
      border: solid 1px #ccc;
      border-radius: 3px;
      .hidden {
        display: none;
      }
    }
  }
  // =============================
  // signupページ下部loginボタン
  // =============================
  .login-form-btn {
    color: black;
    background: white;
    text-decoration: none;
  }
  .login-form-btn:hover {
    opacity: 0.7;
    text-decoration: underline;
  }
  .devise-back-btn {
    height: 50px;
  }
  .back-btn {
    background: #ccc;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    border: solid 1px #ccc;
    border-radius: 3px;
  }
}
// =========================================
// form type="number"のスピンボタンを非表示にする
// =========================================
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@media screen and (max-width: 500px) {
  .sp-new-box {
    width: 100%;
    height: auto;
    text-align: center;
    .new-post-box__container__name {
      font-size: 18px;
      text-align: center;
    }
    .current-password-box {
      margin: 10px 0;
    }
    .form-registration-box {
      width: 100%;
      height: auto;
      text-align: center;
      &__name {
        font-size: 18px;
        font-weight: bold;
      }
      &__require {
        font-size: 12px;
        width: 50px;
        height: 25px;
        background: red;
        color: white;
        border-radius: 3px;
        padding: 2px;
        margin-left: 5px;
      }
      &__any-require {
        font-size: 12px;
        width: 50px;
        height: 25px;
        background: #ccc;
        color: white;
        border-radius: 3px;
        padding: 2px;
        margin-left: 5px;
      }
    }
    .new-part-form {
      width: 250px;
      height: 30px;
      margin: 10px 5px;
      font-size: 12px;
      padding-left: 5px;
      border: solid 1px #ccc;
      border-radius: 3px;
    }
    .select-form-box {
      position: relative;
      margin: 0 auto;
      #post_difficulty {
        width: 250px;
        height: 30px;
        background: white;
        margin: 10px 5px;
        font-size: 12px;
        padding-left: 5px;
        border: solid 1px #ccc;
        border-radius: 3px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
      .fa.fa-chevron-down {
        position: absolute;
        right: 75px;
        top: 40%;
      }
    }
    #textarea, #textarea2, #textarea3 {
      width: 250px;
      height: 30px;
      margin: 10px 5px;
      line-height: 30px;
      border: solid 1px #ccc;
      border-radius: 3px;
    }
    .file-field {
      margin: 10px 0 0 50px;
    }
  }
}
