.sp-banner, .sp-footer-btn {
  display: none !important;
}
@media screen and (max-width: 500px) {
  .sp-banner {
    display: block !important;
    &__icon {
      position: fixed;
      bottom: 0;
      width: 100%;
      height: auto;
      background: white;
      display: flex;
      justify-content: space-between;
      border-top: 1px solid gray;
      .fas, .fa {
        color: gray;
        margin: 10px 15px;
      }
    }
  }
  .sp-footer-btn {
    display: block !important;
    bottom: 75px;
    right: 10px;
    width: 75px;
    height: 75px;
    position: fixed;
    z-index: 1000;
    border-radius: 50%;
    background: green;
    .far.fa-paper-plane {
      color: white;
      margin: 15px 12px;
    }
  }
}