<div class='sp-main'>
  <%= render 'layouts/shared/sp-header' %>
  <h1 class='sp-top-home'>山メシ</h1>
  <%= render 'meals/shared/sp-meshi-lists' %>
  <%= render 'layouts/shared/sp-button' %>
  <%= render 'layouts/shared/sp-banner' %>
</div>