<body>
  <h2 class="list-title">ユーザーさんが登った山リスト</h2>
  <div class="before-login-box">
    <div class="before-login-text">
    サインインまたはログインすると自分の投稿が表示されるよ！
    </div>
  </div>
  <h2 class="list-title">ユーザーさんが食べた山飯リスト</h2>
  <div class="before-login-box">
    <div class="before-login-text">
    サインインまたはログインすると自分の投稿が表示されるよ！
    </div>
  </div>
</body>