<header id="header-main">
  <div id="header">
    <h3 class="logo-txt">神奈川県のトレッキングコースを紹介</h3>
    <div class="logo-box">
      <div class="logo">
        <a href="#">
          <%= image_tag"初日の出のアイコン.png", class:"yama-icon"%>
        </a>
        <h1 class="small-txt">岳人</h1>
      </div>
    </div>
    <form id="search">
      <input type="text" class="search-txt" placeholder="山の名前を入力", name="query-search">
      <input type="submit" class="search-btn" value="検索">
    </form>
  </div>
</header>