<body>
  <%= render "layouts/shared/header" %>
  <div class="detail-post-box">
    <div class="detail-post-container">
      <div class="detail-name">
        お知らせ
      </div>
      <h2>2019.10.12</h2>
      <div class="detail-description">
        <div class="detail-display">
          <li>Capistranoを設定し自動デプロイ化</li>
          <li>画像をAWS S3に保存できるように設定</li>
        </div>
      </div>
      <h2>2019.10.11</h2>
      <div class="detail-description">
        <div class="detail-display">
          <li>AWSインスタンス作成</li>
          <li>Unicorn_rails,Nginx,MySQLを設定しデプロイ</li>
        </div>
      </div>
      <h2>2019.10.10</h2>
      <div class="detail-description">
        <div class="detail-display">
          <li>READMEの作成</li>
        </div>
      </div>
      <h2>2019.10.09</h2>
      <div class="detail-description">
        <div class="detail-display">
          <li>seedデータの作成</li>
          <li>ランキング機能の実装</li>
          <li>ユーザーアバター登録を実装</li>
          <li>nested modelを用いた投稿フォームを実装</li>
        </div>
      </div>
      <h2>2019.10.08</h2>
      <div class="detail-description">
        <div class="detail-display">
          <li>ユーザープロフィール欄の実装</li>
          <li>ユーザー詳細ページの実装</li>
          <li>gem 'kaminari'を用いたページネーションの実装</li>
          <li>フォロー機能の実装②</li>
        </div>
      </div>
      <h2>2019.10.07</h2>
      <div class="detail-description">
        <div class="detail-display">
          <li>gem 'ransack'を用いた検索機能の実装</li>
          <li>フォロー機能の実装①</li>
          <li>投稿詳細ページにユーザーのアバター表示実装</li>
        </div>
      </div>
      <h2>2019.10.06</h2>
      <div class="detail-description">
        <div class="detail-display">
          <li>いいね機能の実装②</li>
        </div>
      </div>
      <h2>2019.10.04</h2>
      <div class="detail-description">
        <div class="detail-display">
          <li>コメント投稿機能の実装</li>
          <li>いいね機能の実装①</li>
        </div>
      </div>
      <h2>2019.10.03</h2>
      <div class="detail-description">
        <div class="detail-display">
          <li>マイページボックスのマークアップ</li>
          <li>投稿の編集機能の実装</li>
          <li>ログイン時のバリデーション設定</li>
          <li>ユーザー削除・編集機能の実装</li>
        </div>
      </div>
      <h2>2019.10.02</h2>
      <div class="detail-description">
        <div class="detail-display">
          <li>gem 'devise'用いたサインアップ・ログイン機能</li>
          <li>サインアップ・ログイン画面のマークアップ</li>
          <li>ログインユーザーの投稿一覧を表示</li>
          <li>全ユーザーの投稿一覧を表示</li>
          <li>投稿削除機能の実装</li>
          <li>JavaScriptを使い画像のプレビュー表示イベント実装</li>
        </div>
      </div>
      <h2>2019.10.01</h2>
      <div class="detail-description">
        <div class="detail-display">
          <li>投稿詳細ページのマークアップ</li>
          <li>投稿完了時のflash実装</li>
        </div>
      </div>
      <h2>2019.09.30</h2>
      <div class="detail-description">
        <div class="detail-display">
          <li>トップページのマークアップ</li>
          <li>新規投稿機能の実装</li>
        </div>
      </div>
    </div>
  </div>
  <%= render "layouts/shared/footer" %>
</body>