.middle-container.mypage {
  display: block !important;
  width: 100%;
}
.user-box {
  width: 100%;
  height: 300px;
  background-color: white;
  margin-left: 10px;
  overflow-y: scroll;
  border: 1px solid #f5f3f4;
  position: relative;
  &__before {
    font-size: 21px;
    font-weight: bold;
    padding: 10px 0 0 15px;
    text-align: center;
  }
  .user-face {
    border-radius: 50%;
    width: 50px;
    height: auto;
    min-height: 50px;
    margin: 5px 0 0 10px;
  }
  &__count {
    position: absolute;
    left: 60px;
    top: 2%;
    font-size: 21px;
    font-weight: bold;
    padding: 10px 0 0 15px;
  }
  &__count-box {
    width: 100%;
    height: auto;
    background: white;
    margin: 10px 15px 10px 15px;
    padding: 10px 0;
    text-align: center;
    font-size: 18px;
    border: solid 1px #f5f3f4;
    border-radius: 3px;
  }
  &__link {
    margin-top: 25px;
    text-align: center;
    &__path {
      border: 1px solid green;
      border-radius: 4px;
      display: inline-block;
      text-align: center;
      background: #f5f3f4;
      color: green;
      transition: 0.7s;
      font-size: 21px;
      text-decoration: none;
      padding: 5px;
    }
    &__path:hover {
      background: green;
      color: white;
    }
  }
}

@media screen and (max-width: 1024px) {
  .mypage-header {
    height: 100px;
    background: green;
    &__text {
      color: white;
      font-size: 48px;
      text-align: center;
    }
    &__kana {
      color: white;
      text-align: center;
    }
  }
  .wrapper {
    position: absolute;
    left: 10px;
    top: 2%;
  }
  .icon-search-container {
    display: inline-block;
    border: 2px solid white;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    position: relative;
    transition: width 0.2s ease-out;
    backface-visibility: hidden;
    &.active {
      width: 285px;
      .fa-times-circle {
        opacity: 1;
      }
      .search-input {
        width: 200px;
      }
    }
    .fa-search {
      color: white;
      font-size: 30px;
      position: absolute;
      top: 7px;
      left: 8px;
      cursor: pointer;
    }
    .fa-times-circle {
      opacity: 0;
      color: white;
      font-size: 20px;
      position: absolute;
      top: 12px;
      right: 8px;
      transition: opacity 0.2s ease-out;
      cursor: pointer;
    }
    .search-input {
      position: absolute;
      cursor: default;
      left: 45px;
      top: 6px;
      width: 0;
      padding: 5px;
      border: none;
      outline: none;
      font-size: 18px;
      line-height: 20px;
      background: rgba(255,255,255,0);
      transition: width 0.2s ease-out;
    }
  }
  #nav-toggle {
    position: fixed;
    top: 25px;
    right: 25px;
    height: 32px;
    cursor: pointer;

  > div {
    position: relative;
    width: 36px;
  }
  span {
    width: 100%;
    height: 1px;
    left: 0;
    display: block;
    background: white;
    position: absolute;
    transition: transform .6s ease-in-out, top .5s ease;

    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2) {
      top: 14px;
    }
    &:nth-child(3) {
      top: 28px;
    }
  }

  &:hover span:nth-child(1) {
    top: 4px;
  }
  &:hover span:nth-child(3) {
    top: 23px;
  }

}

.open {
  #nav-toggle span {
    background: #fff;

    &:nth-child(1) {
      top: 15px;
      transform: rotate(45deg);
    }
    &:nth-child(2) {
      top: 15px;
      width: 0;
      left: 50%;
    }
    &:nth-child(3) {
      top: 15px;
      transform: rotate(-45deg);
    }
  }
}

  /* z-index */
  #nav-toggle {
      z-index: 1000;
  }
  #container {
      z-index: 900;
  }

  #gloval-nav {
      background: #000;
      color: #fff;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 990;
      text-align: center;
      display: flex;
      visibility: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      font-size: 29px;
      opacity: 0;
      transition: opacity .6s ease, visibility .6s ease;
  }


  #gloval-nav {
    a {
      display: block;
      color: #fff;
      text-decoration: none;
      padding: 10px 0;
      transition: color .6s ease;

      &:hover {
        color: #666;
      }
    }

    ul {
      list-style: none;

      li {
        opacity: 0;
        transform: translateX(200px);
        transition:  transform .6s ease, opacity .2s ease;

        &:nth-child(2) {
          transition-delay: .15s;
        }
        &:nth-child(3) {
          transition-delay: .3s;
        }
        &:nth-child(4) {
          transition-delay: .45s;
        }
        &:nth-child(5) {
          transition-delay: .6s;
        }
        &:nth-child(6) {
          transition-delay: .75s;
        }
        &:nth-child(7) {
          transition-delay: .9s;
        }
      }
    }
  }

  /* open */
  .open {
      overflow: hidden;

    #gloval-nav {
      visibility: visible;
      opacity: 1;
    }

    #gloval-nav li {
      opacity: 1;
      transform: translateX(0);
      transition:  transform 1s ease, opacity .9s ease;
    }
  }
}