* {
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
}
a {
  color: white;
}
li {
  color: white;
  font-size: 18px;
}
.new-icon {
  margin-top: 20px;
  border: 1px solid red;
  background: red;
  width: 50px;
  height: 25px;
  text-align: center;
  color: white;
  border-radius: 4px;
  p {
    font-size: 18px;
  }
}
.large-container {
  display: flex;
  .middle-container {
    width: 100%;
    margin: 10px;
    .post-title-container {
      width: 100%;
      display: flex;
      .list-title {
        font-size: 20px;
        text-align: center;
        color: black;
        font-weight: bold;
        padding: 20px;
      }
    }
    .latest-posts {
      width:100%;
      height:300px;
      background-color: white;
      overflow-y: scroll;
      border: 1px solid #f5f3f4;
      margin: 0 10px;
      .post-box {
        display: flex;
        .post-yama-picture {
          width: 80px;
          height: 80px;
          margin: 10px 10px 10px 10px;
          border-radius: 3px;
        }
        .post-yama-description {
          width: 100%;
          margin: 10px;
          border: 1px solid #f5f3f4;
          padding: 5px;
          label {
            font-size: 18px;
          }
        }
      }
    }
  }
}
.user-container {
  display: block !important;
  width: 100%;
}
.user-top {
  width: 100%;
  display: flex;
}
.user-picture {
  width: 70px;
  height: 70px;
  margin: 5px 0 5px 0;
  border-radius: 50%;
}
.user-name {
  font-size: 20px;
  color: black;
  font-weight: bold;
  margin: 25px 10px 0 10px;
}
.responsive-user-box {
  width: 100%;
  height: 300px;
  background-color: white;
  overflow-y: scroll;
  border: 1px solid #f5f3f4;
  margin: 0 10px;
  display: flex;
}

