* {
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
}
body {
  background: #f5f3f4;
}
// =============================
// フラッシュ表示のcss
// =============================
.flash {
  .success {
    background: #00bfff;
    color: white;
    text-align: center;
  }
  .alert {
    background: red;
    color: white;
    text-align: center;
  }
}
// =============================
// indexページのcss
// =============================
.list-title {
  font-size: 20px;
  text-align: center;
  color: black;
  font-weight: bold;
  padding: 20px;
}
.sp-header-main,.sp-main,.sp-banner,.mypage-header {
  display: none !important;
}
.header-main,.footer-main {
  display: block !important;
}
@media screen and (max-width: 1024px) {
  .middle-container.mypage,.header-main {
    display: none !important;
  }
  .mypage-header {
    display: block !important;
  }
}
@media screen and (max-width: 500px) {
  main,.header-main,.footer-main,.mypage-header {
    display: none !important;
  }
  .sp-main,.sp-header-main,.sp-banner {
    display: block !important;
  }
}
