* {
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
}
body {
  background: #f5f3f4;
}
// =============================
// フラッシュ表示のcss
// =============================
.flash {
  .success {
    background: #00bfff;
    color: white;
    text-align: center;
  }
  .alert {
    background: red;
    color: white;
    text-align: center;
  }
}
// =============================
// indexページのcss
// =============================
.list-title {
  font-size: 20px;
  text-align: center;
  color: black;
  font-weight: bold;
  padding: 20px;
}
.sp-header-main,.sp-banner,.sp-footer-btn,
.sp-detail,h1.sp-top-home,.sp-list-box,.sp-main,
.sp-search
{
  display: none !important;
}
.header-main,.footer-main {
  display: block !important;
}
@media screen and (max-width: 500px) {
  main,.header-main,.footer-main,.search-result {
    display: none !important;
  }
  .sp-main,h1.sp-top-home,h2.sp-top-follow,.sp-list-box,
  .sp-header-main,.sp-banner,.sp-footer-btn,.sp-detail,
  .sp-search
  {
    display: block !important;
  }
}
