.detail-user-container {
  width: 100%;
  display: flex;
  .detail-picture {
    padding: 10px;
    margin: 0 0 0 235px;
    .user-face {
      width: 100px;
      height: auto;
    }
  }
}
@media screen and (max-width: 500px) {
  .sp-detail {
    &__user {
      &__follow_form {
        margin: 12px 0 0 25px;
        .following-btn, .followed-btn {
          width: 100%;
          height: 30px;
          color: #2AD1FF;
          margin-top: 10px;
        }
        .followed-btn {
          background: #2AD1FF;
          color: white;
        }
      }
    }
  }
  .sp-posts-count {
    margin: 0 0 0 10px;
  }
}