.detail-user-container {
  width: 100%;
  display: flex;
  .detail-picture {
    padding: 10px;
    margin: 0 0 0 235px;
    .user-face {
      width: 100px;
      height: auto;
    }
  }
  .user-follow-box {
    padding-top: 10px;
    .follow-box {
      .follow-link {
      text-decoration: none;
      margin-left: 5px;
      color: black;
        .follower {
          display: inline;
          font-size: 18px;
          font-weight: bold;
        }
      }
    }
    .following-btn {
      width: 150px;
      height: 30px;
      color: #2AD1FF;
      border: solid 1px #2AD1FF;
      border-radius: 25px;
      padding: 3px;
      margin-top: 10px;
    }
    .followed-btn {
      width: 150px;
      height: 30px;
      background: #2AD1FF;
      color: white;
      border: solid 1px #2AD1FF;
      border-radius: 25px;
      padding: 3px;
      margin-top: 10px;
    }
    .detail-nickname {
      font-size: 32px;
    }
  }
}