#header-main {
  background: green;
  width: 100%;
  height: 100%;
  position: sticky;
  top: 0px;
  z-index: 3;
  .logo-txt {
    color: white;
    padding: 10px 0 0 10px;
    font-weight: bold;
  }
  .yama-icon {
    width: 100px;
    margin-left: 10px;
  }
  .root-path-logo:hover {
    opacity: 0.7;
  }
  .small-txt {
    color: white;
    display: inline;
    font-size: 48px;
    position: absolute;
    left: 115px;
    top: 30%;
  }
  #search {
    position: absolute;
    right: 10px;
    top: 25%;
    .search-txt {
      padding: 5px 8px 5px 8px;
      width: 280px;
      height: 28px;
      border: none;
      border-radius: 3px;
    }
    .search-btn {
      padding: 5px 8px 5px 8px;
      margin-left: 8px;
      width: 50px;
      height: 30px;
      border: none;
      border-radius: 5px;
      background: #f5f3f4;
    }
  }
}