.list-title {
  font-size: 28px;
  text-align: center;
  color: black;
  font-weight: bold;
  padding: 20px;
}
.before-login-box {
  margin: 0 auto;
  width: 480px;
  height: 225px;
  background: white;
  margin-bottom: 20px;
  .before-login-text {
    font-size: 16px;
    text-align: center;
    line-height: 225px;
  }
}
.horizontal-list {
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.item:hover {
  opacity: 0.7;
}
.item {
  /* 横スクロール用 */
  display: inline-block;
  width: 480px;
  /* 見た目調整 */
  height: 225px;
  margin: 16px;
  font-size: 48px;
  background: white;
  border: 1px solid #f5f3f4;
  .box-top {
    display: flex;
    position: relative;
    .yama-picture {
      width: 200px;
      height: 200px;
      margin: 10px;
      border-radius: 3px;
    }
    .yama-description {
      margin: 10px;
      color: black;
      position: relative;
    }
    .like {
      position: absolute;
      right: 5px;
      top: 5%;
      .fas.fa-heart {
        color: pink;
      }
    }
    .yama-description .name {
      color: black;
      font-size: 20px;
    }
    .latest-comment {
      width: 230px;
      height: 40px;
      background: #fff;
      border: 1px solid #f5f3f4;
      color: black;
      border-radius: 3px;
      padding: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    /* 投稿ランキング */
    .like-ranking {
      font-size: 32px;
    }
    .user-face {
      position: absolute;
      right: 10px;
      top: 5%;
      border-radius: 50%;
      width: 40px;
    }
    .ranking-like-count {
      position: absolute;
      right: 55px;
      top: 8%;
      .fas.fa-heart {
        color: pink;
      }
      span {
        color: black;
      }
    }
    .ranking-profile {
      padding: 10px 0;
    }
  }
}
