.sp-footer-main {
  display: none !important;
}
.footer-main {
  display: block !important;
  background: green;
  width: 100%;
  height: 70px;
  .footer-list {
    text-align: center;
    &__information {
      display: inline;
      margin: 20px;
      color: white;
      font-size: 18px;
    }
    &__link {
      text-decoration: none;
    }
    &__link:hover {
      opacity: 0.7;
    }
  }
  &__copyright {
    text-align: center;
    margin: 10px;
    color: white;
  }
}
@media screen and (max-width: 500px) {
  .footer-main {
    display: none !important;
  }
  .sp-footer-main {
    position: fixed;
    bottom: 0;
    display: block !important;
    width: 100%;
    height: auto;;
    padding: 5px 0;
    background: green;
    &__link {
      text-align: center;
      text-decoration: none;
      &__information {
        margin: 5px 0 0 0;
        color: white;
      }
    }
    &__copyright {
      color: white;
      text-align: center;
    }
  }
}