/* posts#showページ */
/* users#showページ */
/* meals#showページ */
.detail-post-box {
  width: 800px;
  margin: 0 auto;
  background: white;
  .user-info {
    display: flex;
    padding-top: 5px;
    &__name {
      font-size: 20px;
      color: black;
      font-weight: bold;
      margin: 20px 0;
    }
    &__face {
      border-radius: 50%;
      width: 40px;
      height: auto;
      margin: 15px;
    }
  }
  .detail-container {
    width: 100%;
    text-align: center;
    &__name {
      font-size: 32px;
    }
    &__picture {
      margin: 0 auto;
      width: 450px;
      height: auto;
      border-radius: 3px;
    }
    h2 {
      font-size: 24px;
      padding: 10px;
      border-top: 1px solid #f5f3f4;
      margin-top: 20px;
    }
    .detail-description {
      &__display {
        width: 450px;
        height: auto;
        margin: 0 auto;
        background: #f5f3f4;
        border-radius: 3px;
        font-size: 18px;
        padding: 10px;
        .comment-form {
          width: 400px;
          max-height: 200px;
          margin: 10px;
          padding: 8px;
          line-height: 20px;
          border: solid 1px #ccc;
          border-radius: 3px;
        }
        .comment-btn {
          color: black;
          background: white;
          border-radius: 3px;
          margin-bottom: 10px;
          padding: 10px;
          text-decoration: none;
          cursor: pointer;
        }
        .comment-btn:hover {
          opacity: 0.7
        }
      }
    }
    .detail-btn {
      margin-top: 40px;
      height: 80px;
      &__gray {
        font-size: 24px;
        color: black;
        background: #f5f3f4;
        border: none;
        border-radius: 3px;
        margin: 10px;
        padding: 10px;
        text-decoration: none;
      }
      &__red {
        font-size: 24px;
        background: red;
        color: white;
        border-radius: 3px;
        margin: 10px;
        padding: 10px;
        text-decoration: none;
      }
      &__gray:hover,&__red:hover {
        opacity: 0.7;
      }
    }
  }
}
.delete-btn {
  width: 80px;
  height: 30px;
  line-height: 30px;
  border: 1px solid red;
  border-radius: 4px;
  text-align: center;
  margin: 0 0 30px 0;
  color: white;
  background: red;
  transition: width 0.5s ease 0s, height 0.5s ease-in 0.5s, line-height 0.2s linear 1s;
  outline: none;
}
.delete-btn:hover {
  width: 120px;
  height: 70px;
  line-height: 70px;
}
@media screen and (max-width: 500px) {
  .sp-detail {
    &__user {
      display: flex;
      &__picture {
        width: 50px;
        height: auto;
        max-height: 50px;
        border-radius: 50%;
        margin: 10px 15px;
      }
      &__comment-picture {
        width: 30px;
        height: auto;
        min-height: 30px;
        max-height: 30px;
        border-radius: 50%;
        margin: 5px 10px;
      }
      &__nickname {
        margin: 23px 0 0 0;
        font-size: 18px;
      }
      &__comment-nickname {
        margin: 13px 0 0 0;
        .comment-edit-path {
          color: black;
          margin: 0 40px 0 100px;
        }
        .comment-delete-path {
          color: black;
        }
      }
    }
    &__post-name {
      text-align: center;
      font-size: 21px;
      font-weight: bold;
      margin: 0 0 10px 0;
      position: relative;
    }
    &__btn {
      color: gray;
      .far.fa-edit {
        margin-left: 10px;
      }
      .far.fa-trash-alt {
        margin-left: 20px;
      }
    }
    &__pic-box {
      text-align: center;
      &__picture {
        width: 100%;
        height: auto;
      }
      &__comment-picture {
        width: 50px;
        height: auto;
      }
    }
    .far.fa-heart {
      color: gray;
      margin: 5px 10px;
    }
    .far.fa-comment {
      color: gray;
    }
    &__title {
      text-align: center;
      font-size: 21px;
      font-weight: bold;
    }
    &__cooking-time {
      text-align: center;
      font-size: 21px;
      font-weight: bold;
      margin: 10px 0;
    }
    &__description {
      width: 100%;
      display: flex;
      justify-content: space-between;
      &__name {
        margin: 10px 15px;
      }
      &__count {
        font-size: 18px;
        font-weight: bold;
      }
    }
    &__comment {
      width: 100%;
      text-align: center;
      margin: 10px 0;
      word-break: break-all;
      &__box {
        width: 365px;
        height: auto;
        word-break: break-all;
        border: 1px solid #f5f3f4;
        margin: 0 auto;
        &__text {
          padding: 5px;
        }
      }
    }
    .comment-show-path {
      color: black;
      text-decoration: none;
      &__text {
        font-size: 16px;
        padding: 5px;
      }
    }
  }
}