@media screen and (max-width: 500px) {
  .sp-main {
    margin-bottom: 70px;
    background: white;
  }
  h1.sp-top-home,h2.sp-top-follow {
    font-size: 20px;
    background: white;
    text-align: center;
    padding: 10px;
  }
  .sp-list-box {
    width: 100%;
    background-color: white;
    a {
      text-decoration: none;
      color: black;
    }
    &__ranking {
      font-size: 18px;
      font-weight: bold;
      margin: 0 auto;
      text-align: center;
    }
    #ranking-1 {
      font-size: 26px;
      width: 60px;
      color: white;
      background: #DBB400;
      border-radius: 3px;
    }
    #ranking-2 {
      font-size: 22px;
      width: 60px;
      color: white;
      background: #9FA0A0;
      border-radius: 3px;
    }
    #ranking-3 {
      font-size: 20px;
      width: 60px;
      color: white;
      background: #C47022;
      border-radius: 3px;
    }
    .sp-post-box {
      display: flex;
      position: relative;
      &__picture {
        width: 80px;
        height: 80px;
        margin: 10px 10px 10px 10px;
        border-radius: 3px;
      }
      &__description {
        width: 100%;
        height: 70px;
        margin: 10px;
        border: 1px solid #f5f3f4;
        padding: 5px;
        label {
          font-size: 18px;
        }
        &__comment {
          width: 250px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .followed-btn {
          width: 90px;
          height: 20px;
          color: white;
          border: solid 1px #2AD1FF;
          border-radius: 25px;
          background: #2AD1FF;
          text-align: center;
        }
        .detail-nickname {
          font-size: 32px;
        }
      }
      .user-face {
        border-radius: 50%;
        width: 45px;
        height: auto;
        margin: 15px;
      }
      &__like {
        width: 130px;
        margin-left: 10px;
        display: flex;
        justify-content: space-between;
        .far.fa-comment {
          color: #eee;
        }
        span {
          color: black;
          font-weight: bold;
          margin-left: 3px;
        }
      }
    }
  }
}